.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 500px;
  align-items: center;
}

.image {
  position: relative;
  min-width: 200px;
  min-height: 200px;
}

.linha {
  height: 2;
  width: 90%;
  background-color: var(--fundo);
  border: none;
}

.nav {
  display: flex;
  flex-direction: column;
  width:  90%;
  height: 100%;   
       
}

.config {
  margin-top: auto;   
  width: 70%;
  padding-bottom: 1rem;
}

.sessaoCor{
    color: var(--texto-sec);
}

